// index.default.styl

// refer to https://github.com/cosmos/vuepress-theme-cosmos/blob/develop/styles/index.styl#L28
:root
  --color-primary #5064fb

  // link color
  --color-link #5064fb

  // brand color for some non-text UI elements, like the sidebar indicators.
  --color-primary #5064fb

// to edit the header logo img width locally
// .content__default p img
//   width 200px