// index.default.styl

:root
  --color-primary #5064fb

  // link color
  --color-link #5064fb

  // brand color for some non-text UI elements, like the sidebar indicators.
  --color-primary #5064fb

  // todo: verify if this is necessary
  --background #161931